

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;0,900;1,400&display=swap');


@font-face {
    font-family: 'Poppins';
    src: local('Poppins'), local('Poppins'),
        url('../font/Poppins-Black.ttf') format('ttf'),
        url('../font/Poppins-ExtraBold.ttf') format('ttf'),
        url('../font/Poppins-Regular.ttf') format('ttf'),
  }





:root {
    /* Color */
    --color-primary: rgb(112, 112, 112);
    --color-secondary: rgb(70, 70, 70);
    --color-secondary: rgb(29, 29, 29);

    /* Font */
    --font-weight-regular:400;
    --font-weight-bold:900;
    --font-weight-medium:800;

}


body {
    background-color: rgb(227, 227, 227);  
    font-family: 'Poppins', sans-serif;  
}

#hero {
    width: 100%;
    height: 100vh;
}

#hero h1{
    font-size: 40pt;
    font-weight: var(--font-weight-bold);
}

